# Ganti dengan token dan kunci rahasiamu
DISCORD_TOKEN="PASTE_TOKEN_DISCORD_KAMU_DI_SINI"
SPOTIPY_CLIENT_ID="PASTE_CLIENT_ID_SPOTIFY_KAMU_DI_SINI"
SPOTIPY_CLIENT_SECRET="PASTE_CLIENT_SECRET_SPOTIFY_KAMU_DI_SINI"
